///
/// Active Specialized Support Group (ASS-G)
/// Active Specialized Support Group (ASS-G) | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (Active Specialized Support Group (ASS-G)/license)
///

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
		margin: -1em 0 _size(element-margin) -1em;

		li {
			display: inline-block;
			padding: 1em 0 0 1em;
		}
	}